.nav {
    color: rgb(226, 217, 207);
    font-size: 20px;

    grid-area: navBar;
    display: grid;

    background-color: orange;
}

.link {
    color: lightcoral;
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    outline: none;
}

.link.active {
    color: lightgreen;
    font-size: 30px;
}