.chatsBar {
    height: 80vh;

    padding: 20px;

    grid-area: chatsBar;
    display: grid;
    grid-template-rows: initial;

    font-size: 40px;

    overflow-y: scroll;

    background-color: magenta;
}

.chatsBar::-webkit-scrollbar {
    width: 10px;
}

.chatsBar::-webkit-scrollbar-track {
    background: #ccc;
}

.chatsBar::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #000;
    border: 2px solid #ccc;

}

.chatsBar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
} 